@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Semantic Kernel Career Assistant using Ollama/RAG</h1>
    <p>Use the chat widget in the bottom right corner to get started</p>
</div>
